<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="root" class="container">
        <main>
            <div class="container-col">
                <div class="col-sx left">
                    <div class="header-sx">
                        <div class="account-info">
                            <div class="headnm">
                                <img src="img/avatar_io.jpg" alt="">
                                <span>Nome Utente</span>
                            </div>
                            <div class="icon">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                    <div class="notifications">
                            <div class="circle">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div>
                                <h4>Ricevi notifiche messaggi</h4>
                                <span>Attiva notifiche desktop</span>
                            </div>
                            
                        
                    </div>
                    <div class="searchbar">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <div class="contacts">
                        <ul>
                            <li class="contact" v-for="(contact,index) in contacts" @click="changeContact(index)">
                                <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                                <span>{{contact.name}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-dx left">
                    <div class="header-dx">
                        <div class="account-info2">
                            <img :src="`./img/avatar${contacts[currentContact].avatar}.jpg`" alt="">
                            <span>{{contacts[currentContact].name}}</span>
                        </div>
                        <div class="icon">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="buttons">

                    </div>
                    <div class="messages-container">
                        <div class="message" v-for="mess in contacts[currentContact].messages">
                            <div class="message-text" :class="mess.status">
                                <div class="messagecontent">{{mess.message}}</div>
                                <div class="messagedate">{{mess.date}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="send-message">
                        <i class="fas fa-smile" id="reverse"></i>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone" id="mic"></i>
                    </div>
                </div>
            </div>
        </main>


    </div>

    <!-- SCRIPT VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- SCRIPT MAIN SCRIPT  -->
    <script src="js/script.js"></script>
</body>
</html>